credentials.json
config.sh
#vim swap files
[._]*.sw[a-p]
local
dataVolume.json
node_modules
*.done
*.input.json
terraform.tfvars
terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terraform*
resources.sh
export
