# Prefix to your VPC resources
basename = ""

# IBM Cloud API key 
ibmcloud_api_key = ""

# VPC region 
# Run ibmcloud regions to check available regions
# region = ""

# Resource group name to provision all your resources 
# Run ibmcloud resource groups command on CLI
# resource_group_name = ""
