# source for running tests/*/create-with-terraform.sh tests/teardown.sh or tests/travisrunner.sh on your desktop
export API_KEY=YourApiKey
export IAAS_CLASSIC_USERNAME=YourClassicUsername
export IAAS_CLASSIC_API_KEY=YourClassicApiKey
export KEYS=YourKey
export TRAVIS_JOB_ID=tjid004
export RESOURCE_GROUP=YourGroupMakeSureItIsEmpty
export REGION=us-south
export DATACENTER=dal10
export TERRAFORM_VERSION=latest
