.container {
  max-width: 960px;
}

.loading-show { visibility: visible; }

.loading-hide { visibility: hidden; }

.list-group-item {
  font-size: 0.8rem;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url("loading.gif") no-repeat center center;
  z-index: 10000;
}