# authentication
export IBMCLOUD_API_KEY=

### VPC infrastructure
# name of an existing VPC SSH key
export VPC_SSH_KEY_NAME=

# prefix for all resources
export PREFIX=$USER-migrate

# region where to create resources
export REGION=us-south

# where to put resources that support resource groups
export RESOURCE_GROUP_NAME=default

# Cloud object storage service to store the image
export COS_SERVICE_NAME=$PREFIX-cos
export COS_SERVICE_PLAN=standard
export COS_REGION=$REGION
export COS_BUCKET_NAME=$PREFIX-images

# choose the image variable file asociated with names and download files
export IMAGE_VARIABLE_FILE=image_variables_debian.sh
#export IMAGE_VARIABLE_FILE=image_variables_centos7.sh
#export IMAGE_VARIABLE_FILE=image_variables_ubuntu.sh
